.skills-section {
  padding: 4rem 2rem;
  text-align: center;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.skill-card {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 12px;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  overflow: hidden;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 23px;
  z-index: 1;
}

.skill-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill-card:hover .skill-overlay {
  opacity: 1;
}

.progress-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border-top: 8px solid transparent;
  border-right: 8px solid currentColor;
  border-bottom: 8px solid currentColor;
  border-left: 8px solid transparent;
  transform: rotate(45deg);
  animation: spin-in 1s ease-out forwards;
  margin-bottom: 10px;
}

@keyframes spin-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.skill-level {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.skills-section {
  position: relative;
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--background);
  overflow: visible; /* permite que el contenido crezca */
  margin-bottom: 4rem; /* da espacio al siguiente componente */
}




